@import 'reset.css';

@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  /* padding: 2rem; */
  --dex-perspective: 5000px;
  interpolate-size: allow-keywords;
  font-family: 'Prompt', sans-serif;
}

:root {
  --card-main-shadow: 0px 0px 10px #000000;
}

.app {
  display: grid;
  /* grid-template-rows: 1fr auto; */
  grid-template-columns: minmax(0, 1fr) 250px;
  height: 100%;
}

#scene {
  perspective: var(--dex-perspective);
  transform-origin: center;
  /* display: grid;
  grid-template-columns: 1fr 33%; */
  align-items: center;
  transition: transform 1s linear;
  width: 100%;
  height: 85%;
  /* position: relative; */
  background-color: rebeccapurple;

  &:has(.pokedex--open) {
    /* Allows pokedex to appear perfectly rectangular with no skewing */
    /* perspective: none; */
  }
}

main.container {
  display: flex;
  align-items: center;
  /* background-color: grey; */
  /* overflow: hidden; */
}

#scene,
#scene * {
  transform-style: preserve-3d;
}

.dev-toolbar {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 1em;
}

.type-bug {
  background-image: url('../assets/type-bg/bug-type-bg.webp');
}

.type-dark {
  background-image: url('../assets/type-bg/dark-type-bg.webp');
}

.type-dragon {
  background-image: url('../assets/type-bg/dragon-type-bg.webp');
}

.type-electric {
  background-image: url('../assets/type-bg/electric-type-bg.webp');
}

.type-fairy {
  background-image: url('../assets/type-bg/fairy-type-bg.webp');
}

.type-fighting {
  background-image: url('../assets/type-bg/fighting-type-bg.webp');
}

.type-fire {
  background-image: url('../assets/type-bg/fire-type-bg.webp');
}

.type-flying {
  background-image: url('../assets/type-bg/flying-type-bg.webp');
}

.type-ghost {
  background-image: url('../assets/type-bg/ghost-type-bg.webp');
}

.type-grass {
  background-image: url('../assets/type-bg/grass-type-bg.webp');
}

.type-ground {
  background-image: url('../assets/type-bg/ground-type-bg.webp');
}

.type-ice {
  background-image: url('../assets/type-bg/ice-type-bg.webp');
}

.type-normal {
  background-image: url('../assets/type-bg/normal-type-bg.webp');
}

.type-poison {
  background-image: url('../assets/type-bg/poison-type-bg.webp');
}

.type-psychic {
  background-image: url('../assets/type-bg/psychic-type-bg.webp');
}

.type-rock {
  background-image: url('../assets/type-bg/rock-type-bg.webp');
}

.type-steel {
  background-image: url('../assets/type-bg/steel-type-bg.webp');
}

.type-water {
  background-image: url('../assets/type-bg/water-type-bg.webp');
}

.card-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  /* display: none; */
}

.card {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  transition: box-shadow 0.1s ease-in-out;
  border-radius: 8px;
  color: #fafafa;
  text-shadow: 1px 1px 2px #000;
  font-family: Prompt, serif;

  &:hover {
    cursor: pointer;
  }
  &:has(.shiny) {
    box-shadow: 0 0 5px 3px #fffb00cc;
  }
}

.card-wrapper {
  width: 180px;
  min-width: 180px;
  aspect-ratio: 11/16;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.card-shadow {
  position: absolute;
  border-radius: inherit;
  background-color: #00000055;
}

.card__front,
.card__back,
.card__front *,
.card__back * {
  backface-visibility: hidden;
}

.card__front,
.card__back {
  position: absolute;
  flex: 1;
  width: 100%;
  height: 100%;
  border: 6px solid #d9d9d9;
  border-radius: inherit;
  overflow: hidden;
}

.card__front {
  transform: rotateY(-179.9deg);
  padding-top: 0;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &::before {
    /* An overlay to tint/shade the card's background img */
    content: '';
    background-image: linear-gradient(to bottom, #0006 40%, #fff7);
    inset: 0;
    position: absolute;
  }
}

.card__back {
  background-color: rebeccapurple;
}

.blur-bg {
  backdrop-filter: blur(2px);
}

.card__name {
  padding-inline: 0.2rem;
  padding-top: 0.2rem;
  font-size: 1.2rem;
  font-weight: 700;
  justify-self: start;
  position: relative;
  max-width: 100%;
  width: 100%;

  /* &::before {
    content: '';
    position: absolute;
    inset: 0;
    backdrop-filter: blur(1px);
  } */
}

.card__picture {
  border-radius: 5px;
  /* background-color: #4453; */
  display: flex;
  align-items: center;
}

.card__moves {
  flex: 1;
  padding-inline: 0.2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1ch;
  margin-left: -2ch;
  /* color: #ccc; */
  /* text-shadow: 1px 1px 3px #eee; */
}

hr {
  border-color: #0005;
  border-width: 1px;
}

.scoreboard {
  text-align: end;
  margin-left: auto;
  font-size: 1.2rem;
  flex: 1;
}

.score__val {
  font-weight: 700;
}

.game-area {
  margin: 2rem;
  transform-origin: top right;
  transition: 1s ease-in-out;
  opacity: 1;
  min-width: 610px;
  visibility: visible;

  &:has(+ .pokedex-wrapper .pokedex--open) {
    opacity: 0;
    display: hidden;
  }
}

.game-result {
  text-align: center;
  font-size: 1.2rem;
}

.game-result button {
  padding: 0.25rem 1rem;
  border-radius: 8px;
  border: 6px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: color 0.25s;

  button:hover {
    border: 6px solid #c8c800a0;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

footer .placeholder {
  margin-right: auto;
}

@media (prefers-color-scheme: light) {
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}
