.sidebar {
  background-color: #161616;
  padding: 1rem;
  grid-column: 2;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.gameOptionsMenu {
  height: auto;
  display: grid;
  column-gap: 1rem;
  grid-auto-flow: column;
  grid-template-columns: 60% 1fr;
  color: #ccc;
}

.gameOptionsMenu .menuSection {
  display: grid;
  border-radius: 3px;
  overflow: hidden;
  border: 3px solid #444;
}

.gameOptionsMenu h2 {
  font-size: 1em;
}

.gameOptionsMenu button {
  transition: color 0.25s;
  background-color: #222;
  color: #ccc;
  border-radius: 0;
  border-bottom: 1px solid #222233;
  text-align: center;
  font-weight: 500;
  outline: none;

  padding-inline: 0.3rem;
  transition: 0.1s ease-in-out;

  &.selected {
    background-color: #444;
    color: #00b758;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    color: #25d98e;
    background-color: #666;
    text-shadow: 1px 1px 8px #77d5;
    outline: none;
  }

  &:disabled {
    background-color: #222;
    cursor: default;
  }
}

.generationSelect .menuSection {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.difficultySelect .menuSection {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);

  & button {
    text-align: end;
    text-transform: capitalize;
    font-size: 0.7rem;
  }
}

.githubLink {
  margin-block-start: auto;
}

.pokedexToggleBtn {
  background-color: #aa0044;
}
