@import 'reset.css';

@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  /* padding: 2rem; */
  --dex-perspective: 5000px;
  interpolate-size: allow-keywords;
  font-family: 'Prompt', sans-serif;
}

:root {
  --card-main-shadow: 0px 0px 10px #000000;
}

.app {
  display: grid;
  /* grid-template-rows: 1fr auto; */
  grid-template-columns: minmax(0, 1fr) 250px;
  height: 100%;
}

#scene {
  perspective: var(--dex-perspective);
  transform-origin: center;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 500ms ease-in-out;
  width: 100%;
  height: 85%;
  /* background-color: #131313; */

  &:has(.pokedex--open) {
    /* Allows pokedex to appear perfectly rectangular with no skewing */
    /* perspective: none; */
  }
}

main.container {
  display: flex;
  align-items: center;
  /* background-color: grey; */
  /* overflow: hidden; */
}

#scene,
#scene * {
  transform-style: preserve-3d;
}

.dev-toolbar {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 1em;
}

.card-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

hr {
  border-color: #0005;
  border-width: 1px;
}

.scoreboard {
  text-align: end;
  margin-left: auto;
  font-size: 1.2rem;
}

.score__val {
  font-weight: 700;
}

.game-area {
  margin: 2rem;
  transform-origin: top right;
  transition: 1s ease-in-out;
  opacity: 1;
  min-width: 610px;
  visibility: visible;

  &:has(+ .pokedex-wrapper .pokedex--open) {
    opacity: 0;
    display: hidden;
  }
}

footer .placeholder {
  margin-right: auto;
}

@media (prefers-color-scheme: light) {
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}
