@import 'reset.css';

#root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  --dex-perspective: 10000px;
}

:root {
  --card-main-shadow: 0px 0px 10px #000000;
}

.app {
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 1fr;
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-color: #00000088;
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 1;
  box-shadow: inset 0 0 50px rgba(120, 120, 120, 0.4), 0 0 12px 3px rgba(0, 0, 0, 0.3);
  box-sizing: content-box;
  opacity: 0;
  transition: opacity 1s ease-in-out;

  &:has(+ .scene .pokedex--open) {
    opacity: 1;
  }
}

#scene {
  perspective: var(--dex-perspective);
  transform-origin: center;
  display: grid;
  grid-template-columns: 1fr 33%;
  align-items: center;
  transition: transform 1s ease-in-out;
  width: 100vw;
  position: relative;
  z-index: 1;
  /* background-color: rebeccapurple; */

  &:has(.pokedex--open) {
    /* Allows pokedex to appear perfectly rectangular with no skewing */
    perspective: none;
  }
}

#scene,
#scene * {
  transform-style: preserve-3d;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

header h2 {
  font-size: 1em;
}

header .input-group {
  display: grid;
  gap: 0.1em;
}

.dev-toolbar {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 1em;
}

.card-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.card-base {
  position: relative;
  width: 200px;
  min-width: 200px;
  aspect-ratio: 11/16;
  border-radius: 8px;
}

.card-wrapper {
  width: 165px;
  min-width: 165px;
  aspect-ratio: 11/16;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.card-shadow {
  position: absolute;
  border-radius: inherit;
  background-color: #00000055;
}

.card {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  transition: box-shadow 0.1s ease-in-out;
  border-radius: 8px;

  &:hover {
    cursor: pointer;
  }
  &:has(.shiny) {
    box-shadow: 0 0 5px 3px #fffb00cc;
  }
}

.card__front,
.card__back,
.card__front *,
.card__back * {
  backface-visibility: hidden;
}

.card__front,
.card__back {
  position: absolute;
  flex: 1;
  width: 100%;
  height: 100%;
  border: 6px solid #cdcd01;
  border-radius: inherit;
}

.card__front {
  transform: rotateY(-179.9deg);
  padding: 0.5rem;
  padding-top: 0;
}

.card__back {
  background-color: rebeccapurple;
}

.card__name {
  padding: 0.2rem 0;
  font-size: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  justify-self: start;
}

.card__picture {
  border-radius: 5px;
  background-color: #445;
  display: flex;
  align-items: center;
}

.scoreboard {
  text-align: end;
  margin-left: auto;
  font-size: 1.2rem;
  flex: 1;
}

.score__val {
  font-weight: 700;
}

.game-area {
  margin: 2rem;
  transform-origin: top right;
  transition: 1s ease-in-out;
  opacity: 1;
  min-width: 610px;

  &:has(+ .pokedex-wrapper .pokedex--open) {
    opacity: 0;
  }
}

.game-result {
  text-align: center;
  font-size: 1.2rem;
}

.game-result button {
  padding: 0.25rem 1rem;
}

footer .placeholder {
  margin-right: auto;
}

@media (prefers-color-scheme: light) {
  .card {
    color: #223;
  }

  .card__picture {
    background-color: #fafafa;
  }
}

.shiny {
  mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.8) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.8) 70%
  );
  mask-size: 200%;
  animation: shine 2s infinite;
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}
