.pokemonImg {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 90%;
}

.pokemonImg img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  padding: 0.5rem;
  object-fit: contain;
}

.sprite {
  opacity: 0.8;
  max-width: 100%;
  height: auto;
}

.basicInfo {
  display: flex;
  align-items: center;
  padding-inline: 0.5rem;
  justify-content: space-between;
}
