.evoChart {
  /* height: 3rem; */
  border: 1px dotted grey;
  position: relative;
  /* display: grid; */
  /* padding-inline: 0.5rem; */
  /* place-items: center; */
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
}

.segment {
  width: 100%;

  & .node {
    width: 6px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #445;
    cursor: pointer;
  }
}

.base {
  grid-row: 1/3;
}

.upper {
  grid-row: 1;

  & .node {
    background-color: blue;
  }
}

.lower {
  grid-row: 2;

  & .node {
    background-color: red;
  }
}

.branchUp {
  composes: upper;

  /* &::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #555;
    transform: rotate(-30deg) translate(-0.5rem);
  } */
}
