.loadingWrapper {
  width: auto;
  justify-self: center;
}

.progressBarOuter {
  width: 100%;
  border: 2px solid #555;
}

.progressBar {
  background-color: #555;
  height: 0.5em;
  width: 0;
  transition: width 600ms ease-in-out;
}

.progressBarFull {
  composes: progressBar;
  background-color: #555;
  /* 550ms animation delay to account for the transition to 100% width.
  The flash animation should happen after the bar is full. */
  animation: loading-done 100ms 550ms 3;
}

.hidden {
  display: none;
}

@keyframes loading-done {
  0%,
  49% {
    background-color: #555;
  }
  50%,
  100% {
    background-color: #ccc;
  }
}
