@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

.mainContentLoading {
  display: none;
}

.mainContentShown {
  /* display: flex; */
  height: 100%;
}

.modeSinglePokemon {
  display: grid;
  flex: 1;
  height: 100%;
  max-height: 100%;
  line-height: 1.25;
  grid-template-rows: 1lh minmax(0, 1fr) 1lh;
}

.basicInfo {
  display: flex;
  align-items: center;
  padding-inline: 0.5rem;
  justify-content: space-between;
  /* font-size: 1rem; */
}

/* 
  TYPE DISPLAY
*/

.menuBar {
  display: flex;
  justify-content: space-between;
  height: 100%;
  background-color: #1a1a1add;
  color: #eee;
  font-size: 0.7rem;
  padding-inline: 0.5rem;
}

.menuBar .showList {
  border: none;
  background-color: transparent;
  padding-inline: 1rem;
  border-radius: 0;

  &:hover {
    background-color: pink;
  }
}

.types {
  display: flex;
  align-items: center;
}

.type {
  /* display: flex; */
  align-items: center;
}

.type .typePill {
  border-radius: 10px;
  font-family: 'Turret Road', serif;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 1px #0006;
  padding-inline: 0.5rem;
  box-shadow: #0002 2px 5px 3px 3px inset, #0002 1px -2px 4px 4px inset,
    #0006 1px -3px 4px 1px inset;
}

.typePillLoading {
  composes: typePill;
  --loading-color: #aaa;
  background: linear-gradient(
    to bottom right,
    var(--loading-color) 50%,
    hsl(from var(--loading-color) h s 80) 50%
  );
}

.typePillGrass {
  composes: typePill;
  --grass-color: #00ff00;
  background: linear-gradient(
    to bottom right,
    var(--grass-color) 50%,
    hsl(from var(--grass-color) h s 45) 50%
  );
}

.typePillPoison {
  composes: typePill;
  --poison-color: #6200a8;
  background: linear-gradient(
    to bottom right,
    var(--poison-color) 50%,
    hsl(from var(--poison-color) h s 50) 50%
  );
}

.pokemonImg img {
  max-width: 100%;
  height: auto;
  /* max-height: 100%; */
  padding: 0.5rem;
}

.sprite {
  opacity: 0.8;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.pokemonList {
  padding-inline: 0.5rem;
  min-width: 100%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.pokemonList > * {
  flex: 1;
  display: block;
  border: none;
  border-radius: 0;
  background-color: inherit;
  color: inherit;
  border-bottom: 2px solid #555;
}
