@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap');
@property --pos1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 50%;
}

@property --pos2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 50%;
}

@property --glare-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 60deg;
}

.mainContentLoading {
  display: none;
}

/* 
  TYPE DISPLAY
*/

.types {
  display: flex;
  align-items: center;
  color: #ccc;
  gap: 0.2rem;
}

.type {
  align-items: center;
}

.type .typePill {
  border-radius: 10px;
  font-family: 'Turret Road', serif;
  font-weight: 700;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 1px #0009;
  padding-inline: 0.5rem;
  box-shadow: #0002 2px 5px 3px 3px inset, #0002 1px -2px 4px 4px inset,
    #0006 1px -3px 4px 1px inset, #0003 0px 0px 6px 2px;
}

.typePillLoading {
  composes: typePill;
  --loading-color: #aaa;
  background: linear-gradient(
    to bottom right,
    var(--loading-color) 50%,
    hsl(from var(--loading-color) h s 80) 50%
  );
}

.typePillNormal {
  composes: typePill;
  --normal-color: #fff;
  background: linear-gradient(
    to bottom right,
    var(--normal-color) 50%,
    hsl(from var(--normal-color) h s 80) 50%
  );
}

.typePillFlying {
  composes: typePill;
  --normal-color: #bbbbff;
  background: linear-gradient(
    to bottom right,
    var(--normal-color) 50%,
    hsl(from var(--normal-color) h s 80) 50%
  );
}

.typePillFire {
  composes: typePill;
  --flying-color: #ff0000;
  background: linear-gradient(
    to bottom right,
    var(--flying-color) 50%,
    hsl(from var(--flying-color) 15 s 60) 50%
  );
}

.typePillPsychic {
  composes: typePill;
  --psychic-color: #b032ff;
  background: linear-gradient(
    to bottom right,
    var(--psychic-color) 50%,
    hsl(from var(--psychic-color) h s 40) 50%
  );
}

.typePillWater {
  composes: typePill;
  --water-color: #0022fc;
  background: linear-gradient(
    to bottom right,
    var(--water-color) 50%,
    hsl(from var(--water-color) h 100 60) 50%
  );
}

.typePillBug {
  composes: typePill;
  --bug-color: #4ea837;
  background: linear-gradient(
    to bottom right,
    var(--bug-color) 50%,
    hsl(from var(--bug-color) 60 s 60) 50%
  );
}

.typePillRock {
  composes: typePill;
  --rock-color: #62491d;
  background: linear-gradient(
    to bottom right,
    var(--rock-color) 50%,
    hsl(from var(--rock-color) h 10 25) 50%
  );
}

.typePillGrass {
  composes: typePill;
  --grass-color: #00ff00;
  background: linear-gradient(
    to bottom right,
    var(--grass-color) 50%,
    hsl(from var(--grass-color) 100 100 40) 50%
  );
}

.typePillGhost {
  composes: typePill;
  --ghost-color: hsl(261, 73%, 60%);
  background: linear-gradient(
    to bottom right,
    var(--ghost-color) 50%,
    hsl(from var(--ghost-color) h 0 25) 50%
  );
}

.typePillIce {
  composes: typePill;
  --ice-color: #8af9ff;
  background: linear-gradient(
    to bottom right,
    var(--ice-color) 50%,
    hsl(from var(--ice-color) h 100 60) 50%
  );
}

.typePillDragon {
  composes: typePill;
  --dragon-color: #1c009b;
  background: linear-gradient(
    to bottom right,
    var(--dragon-color) 50%,
    hsl(from var(--dragon-color) 0 70 30) 50%
  );
}

.typePillFighting {
  composes: typePill;
  --fighting-color: hsl(0, 70%, 30%);
  background: linear-gradient(
    to bottom right,
    var(--fighting-color) 50%,
    hsl(from var(--fighting-color) 40 150 50) 50%
  );
}

.typePillDark {
  composes: typePill;
  --dark-color: hsl(261, 0%, 25%);
  background: linear-gradient(
    to bottom right,
    var(--dark-color) 50%,
    hsl(from var(--dark-color) h s 20) 50%
  );
}

.typePillPoison {
  composes: typePill;
  --poison-color: #8450e4;
  background: linear-gradient(
    to bottom right,
    var(--poison-color) 50%,
    hsl(from var(--poison-color) 100 100 40) 50%
  );
}

.typePillSteel {
  composes: typePill;
  --steel-color: #aaa;
  background: linear-gradient(
    to bottom right,
    var(--steel-color) 50%,
    hsl(from var(--steel-color) h s 80) 50%
  );
}

.typePillGround {
  composes: typePill;
  --rock-color: #62491d;
  background: linear-gradient(
    to bottom right,
    var(--rock-color) 50%,
    hsl(from var(--rock-color) h s 60) 50%
  );
}

.typePillElectric {
  composes: typePill;
  --electric-color: #ffea00;
  background: linear-gradient(
    to bottom right,
    var(--electric-color) 50%,
    hsl(from var(--electric-color) h s 45) 50%
  );
}

.typePillFairy {
  composes: typePill;
  --fairy-color: hsl(0, 70%, 80%);
  background: linear-gradient(
    to bottom right,
    var(--fairy-color) 50%,
    hsl(from var(--fairy-color) h 100 100) 50%
  );
}

.screenOn {
  color: #ccc;
  background-color: #1c1c1f;
}

.screenBorder {
  padding: 0.5em;
  background-color: #131313;
  height: 55%;
  position: relative;
  pointer-events: none;
}

.screenGlare {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    var(--glare-angle),
    #9111 var(--pos1),
    #ccc1 var(--pos2)
  );
  pointer-events: none;
  z-index: 1;

  /* same as #pokedex element transition */
  transition: --pos1 400ms linear, --pos2 400ms linear, --angle 400ms linear;
}

.screen {
  pointer-events: all;
  display: grid;
  flex-direction: column;
  grid-template-rows: auto minmax(0, 1fr) auto;
  height: 100%;
}

.screenWrapper {
  height: 100%;
  overflow-y: scroll;
}

.screenContent {
  pointer-events: none;
}

.screenContent:has(.singlePkmnMode) {
  height: 100%;
}

.singlePkmnMode {
  composes: screen;
  display: grid;
  flex-direction: column;
  grid-template-rows: auto minmax(0, 1fr) auto;
  height: 100%;
}

.listMode {
  composes: screen;
  grid-template-rows: auto minmax(0, 1fr);
}
