@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

.mainContentLoading {
  display: none;
}

/* 
  TYPE DISPLAY
*/

.types {
  display: flex;
  align-items: center;
}

.type {
  /* display: flex; */
  align-items: center;
}

.type .typePill {
  border-radius: 10px;
  font-family: 'Turret Road', serif;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 1px #0006;
  padding-inline: 0.5rem;
  box-shadow: #0002 2px 5px 3px 3px inset, #0002 1px -2px 4px 4px inset,
    #0006 1px -3px 4px 1px inset;
}

.typePillLoading {
  composes: typePill;
  --loading-color: #aaa;
  background: linear-gradient(
    to bottom right,
    var(--loading-color) 50%,
    hsl(from var(--loading-color) h s 80) 50%
  );
}

.typePillGrass {
  composes: typePill;
  --grass-color: #00ff00;
  background: linear-gradient(
    to bottom right,
    var(--grass-color) 50%,
    hsl(from var(--grass-color) h s 45) 50%
  );
}

.typePillPoison {
  composes: typePill;
  --poison-color: #6200a8;
  background: linear-gradient(
    to bottom right,
    var(--poison-color) 50%,
    hsl(from var(--poison-color) h s 50) 50%
  );
}
