.icons {
  display: grid;
  grid-template-columns: 20px auto;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.pokeballIcon {
  width: 15px;
  height: 15px;
  grid-column: 2;
}

.favorite {
  height: 80%;
  width: 100%;
}

.pokemonIcon {
  display: inline;
  width: 85px;
  height: 85px;
  object-fit: contain;
  image-rendering: pixelated;
}

.pkmnInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dexNum {
  font-size: 0.8rem;
}
